In [0]:
records = [
    (1, 2, '2016/06/03'),
    (1, 3, '2016/06/08'),
    (2, 3, '2016/06/08'),
    (3, 4, '2016/06/09')
]

schema = StructType([
    StructField("requester_id", IntegerType(), True),
    StructField("accepter_id", IntegerType(), True),
    StructField("accept_date", StringType(), True)
])

df = spark.createDataFrame(records, schema=schema)
df.show()

+------------+-----------+-----------+
|requester_id|accepter_id|accept_date|
+------------+-----------+-----------+
|           1|          2| 2016/06/03|
|           1|          3| 2016/06/08|
|           2|          3| 2016/06/08|
|           3|          4| 2016/06/09|
+------------+-----------+-----------+

In [0]:
requester_frnd = df.groupBy('requester_id').count().alias('num')

In [0]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DateType
from datetime import date

In [0]:
schema = StructType([
    StructField("id", IntegerType(), True),
    StructField("name", StringType(), True),
    StructField("start_date", DateType(), True),
    StructField("end_date", DateType(), True),
    StructField("age", IntegerType(), True),
    StructField("email", StringType(), True),
    StructField("favorite_color", StringType(), True),
    StructField("favorite_food", StringType(), True),
    StructField("favorite_city", StringType(), True)
])

records = [
    (1, "Alice", date(2023, 1, 10), date(2024, 1, 15), 28, "alice@example.com", "Blue", "Pizza", "New York"),
    (2, "Bob", date(2022, 5, 20), date(2023, 8, 25), 34, "bob@example.com", "Red", "Burger", "London"),
    (3, "Charlie", date(2021, 11, 5), date(2023, 1, 1), 45, "charlie@example.com", "Green", "Sushi", "Tokyo"),
    (4, "David", date(2020, 8, 15), date(2022, 10, 30), 22, "david@example.com", "Yellow", "Tacos", "Sydney"),
    (5, "Eva", date(2024, 2, 1), date(2024, 3, 1), 30, "eva@example.com", "Purple", "Pasta", "Paris"),
    (6, "Frank", date(2023, 7, 7), date(2024, 7, 7), 50, "frank@example.com", "Orange", "Steak", "Berlin"),
    (7, "Grace", date(2022, 3, 18), date(2023, 3, 18), 38, "grace@example.com", "Pink", "Salad", "Rome"),
    (8, "Heidi", date(2021, 9, 2), date(2022, 9, 2), 29, "heidi@example.com", "Black", "Curry", "Mumbai"),
    (9, "Ivan", date(2020, 4, 1), date(2021, 4, 1), 41, "ivan@example.com", "White", "Soup", "Beijing"),
    (10, "Judy", date(2023, 10, 25), date(2024, 10, 25), 26, "judy@example.com", "Gray", "Sandwich", "Dubai"),
    (11, "Kevin", date(2021, 6, 1), date(2022, 6, 1), 33, "kevin@example.com", "Blue", "Pizza", "New York"),
    (12, "Linda", date(2020, 2, 14), date(2021, 2, 14), 27, "linda@example.com", "Red", "Burger", "London"),
    (13, "Mike", date(2022, 9, 9), date(2023, 9, 9), 42, "mike@example.com", "Green", "Sushi", "Tokyo"),
    (14, "Nancy", date(2021, 1, 20), date(2022, 1, 20), 36, "nancy@example.com", "Yellow", "Tacos", "Sydney"),
    (15, "Oscar", date(2023, 8, 12), date(2024, 8, 12), 55, "oscar@example.com", "Purple", "Pasta", "Paris"),
    (16, "Pam", date(2022, 10, 3), date(2023, 10, 3), 48, "pam@example.com", "Orange", "Steak", "Berlin"),
    (17, "Quentin", date(2021, 5, 29), date(2022, 5, 29), 31, "quentin@example.com", "Pink", "Salad", "Rome"),
    (18, "Rachel", date(2020, 12, 12), date(2021, 12, 12), 25, "rachel@example.com", "Black", "Curry", "Mumbai"),
    (19, "Sam", date(2023, 4, 4), date(2024, 4, 4), 39, "sam@example.com", "White", "Soup", "Beijing"),
    (20, "Tina", date(2022, 7, 1), date(2023, 7, 1), 35, "tina@example.com", "Gray", "Sandwich", "Dubai"),
    (21, "Ursula", date(2021, 3, 22), date(2022, 3, 22), 28, "ursula@example.com", "Blue", "Pizza", "New York"),
    (22, "Victor", date(2020, 11, 11), date(2021, 11, 11), 34, "victor@example.com", "Red", "Burger", "London"),
    (23, "Wendy", date(2023, 5, 5), date(2024, 5, 5), 45, "wendy@example.com", "Green", "Sushi", "Tokyo"),
    (24, "Xavier", date(2022, 1, 28), date(2023, 1, 28), 22, "xavier@example.com", "Yellow", "Tacos", "Sydney"),
    (25, "Yara", date(2021, 10, 1), date(2022, 10, 1), 30, "yara@example.com", "Purple", "Pasta", "Paris"),
    (26, "Zane", date(2020, 6, 6), date(2021, 6, 6), 50, "zane@example.com", "Orange", "Steak", "Berlin"),
    (27, "Alex", date(2023, 2, 1), date(2024, 2, 1), 38, "alex@example.com", "Pink", "Salad", "Rome"),
    (28, "Bella", date(2022, 8, 8), date(2023, 8, 8), 29, "bella@example.com", "Black", "Curry", "Mumbai"),
    (29, "Cody", date(2021, 4, 15), date(2022, 4, 15), 41, "cody@example.com", "White", "Soup", "Beijing"),
    (30, "Dana", date(2020, 1, 1), date(2021, 1, 1), 26, "dana@example.com", "Gray", "Sandwich", "Dubai"),
    (31, "Ethan", date(2023, 1, 15), date(2024, 1, 15), 33, "ethan@example.com", "Blue", "Pizza", "New York"),
    (32, "Fiona", date(2022, 5, 25), date(2023, 5, 25), 27, "fiona@example.com", "Red", "Burger", "London"),
    (33, "George", date(2021, 11, 10), date(2023, 1, 1), 42, "george@example.com", "Green", "Sushi", "Tokyo"),
    (34, "Hannah", date(2020, 8, 20), date(2022, 10, 30), 36, "hannah@example.com", "Yellow", "Tacos", "Sydney"),
    (35, "Isaac", date(2024, 2, 5), date(2024, 3, 1), 55, "isaac@example.com", "Purple", "Pasta", "Paris"),
    (36, "Jasmine", date(2023, 7, 10), date(2024, 7, 10), 48, "jasmine@example.com", "Orange", "Steak", "Berlin"),
    (37, "Kyle", date(2022, 3, 20), date(2023, 3, 20), 31, "kyle@example.com", "Pink", "Salad", "Rome"),
    (38, "Lauren", date(2021, 9, 5), date(2022, 9, 5), 25, "lauren@example.com", "Black", "Curry", "Mumbai"),
    (39, "Mark", date(2020, 4, 5), date(2021, 4, 5), 39, "mark@example.com", "White", "Soup", "Beijing"),
    (40, "Nora", date(2023, 10, 30), date(2024, 10, 30), 35, "nora@example.com", "Gray", "Sandwich", "Dubai"),
    (41, "Oliver", date(2021, 3, 25), date(2022, 3, 25), 28, "oliver@example.com", "Blue", "Pizza", "New York"),
    (42, "Paige", date(2020, 11, 15), date(2021, 11, 15), 34, "paige@example.com", "Red", "Burger", "London"),
    (43, "Quinn", date(2023, 5, 10), date(2024, 5, 10), 45, "quinn@example.com", "Green", "Sushi", "Tokyo"),
    (44, "Ryan", date(2022, 1, 30), date(2023, 1, 30), 22, "ryan@example.com", "Yellow", "Tacos", "Sydney"),
    (45, "Sophia", date(2021, 10, 5), date(2022, 10, 5), 30, "sophia@example.com", "Purple", "Pasta", "Paris"),
    (46, "Tim", date(2020, 6, 10), date(2021, 6, 10), 50, "tim@example.com", "Orange", "Steak", "Berlin"),
    (47, "Valerie", date(2023, 2, 5), date(2024, 2, 5), 38, "valerie@example.com", "Pink", "Salad", "Rome"),
    (48, "Will", date(2022, 8, 12), date(2023, 8, 12), 29, "will@example.com", "Black", "Curry", "Mumbai"),
    (49, "Yuki", date(2021, 4, 20), date(2022, 4, 20), 41, "yuki@example.com", "White", "Soup", "Beijing"),
    (50, "Zoe", date(2020, 1, 5), date(2021, 1, 5), 26, "zoe@example.com", "Gray", "Sandwich", "Dubai")
]

# Create the DataFrame
raw_df = spark.createDataFrame(records, schema=schema)

In [0]:
raw_df.show(5)

In [0]:
raw_df.head(5)

In [0]:
raw_df.tail(5)

In [0]:
json_df = raw_df.limit(10)
print(json_df.toJSON())

In [0]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, LongType
data = [[1, 100], [2, 200], [3, 300], [4, 300], [5, 400], [6, 500], [7, 500], [8, 600], [9, 700]]
data1 = [[1, 100], [2, 100], [3, 100]]

# 3. Define the column names and explicit schema (including data types)
# Note: PySpark uses 'LongType' (64-bit integer) for the equivalent of int64.
schema = StructType([
    StructField("id", LongType(), True),      # Equivalent to 'int64'
    StructField("salary", LongType(), True)  # Equivalent to 'int64'
])

# 4. Create the PySpark DataFrame
employee_df = spark.createDataFrame(data1, schema=schema)
employee_df.show()

In [0]:
# Second Highest Salary and null if does not exist

max_sal = employee_df.select("salary").dropDuplicates().sort("salary", ascending=False).head(2)[1][0]

In [0]:
from pyspark.sql import functions as F

second_highest_salary_df = (
    employee_df
    .select("salary")
    .distinct()
    .orderBy(F.col("salary").desc())
    .limit(2)
)

second_highest_salary = (
    second_highest_salary_df
    .agg(F.collect_list("salary").alias("salaries"))
    .select(
        F.when(
            F.size("salaries") >= 2,
            F.element_at("salaries", 2)
        ).alias("second_highest_salary")
    )
)

# display(second_highest_salary)
second_highest_salary.show()

<h1 align="center">New York Taxi Trips Analysis</h1>

In [0]:
import pyspark
pyspark.__version__

'3.5.2'

### Loading Data

In [0]:
taxi_zone_lookup_path = "/Volumes/workspace/default/ram_dataset/taxi_zone_lookup.csv"

# Read the table
taxi_zone_lookup_df = spark.read.csv(taxi_zone_lookup_path, header=True, inferSchema=True)

# Show the results
# display(taxi_zone_lookup_df)
taxi_zone_lookup_df.show(5)

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 5 rows

In [0]:
import os
os.path.isfile(taxi_zone_lookup_path) # Check if path exists and accessible

True

In [0]:
jan_trips_path = "/Volumes/workspace/default/ram_dataset/yellow_tripdata_2025-01.parquet"

# Read the table
jan_trips_df = spark.read.parquet(jan_trips_path)

# Show the results
# display(jan_trips_df)
jan_trips_df.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       1| 2025-01-01 00:18:38|  2025-01-01 00:26:59|              1|          1.6|         1|                 N|         229|         237|           1|       10.0|  3.5|    0.5|       3.0|         0.0|                  1.0|        18.0|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:32:40|  2025-01-01 00:35:13|              1|          0.5|         1|                 N|         236|         237|           1|        5.1|  3.5|    0.5|      2.02|         0.0|                  1.0|       12.12|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:44:04|  2025-01-01 00:46:01|              1|          0.6|         1|                 N|         141|         141|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:14:27|  2025-01-01 00:20:01|              3|         0.52|         1|                 N|         244|         244|           2|        7.2|  1.0|    0.5|       0.0|         0.0|                  1.0|         9.7|                 0.0|        0.0|               0.0|
|       2| 2025-01-01 00:21:34|  2025-01-01 00:25:06|              3|         0.66|         1|                 N|         244|         116|           2|        5.8|  1.0|    0.5|       0.0|         0.0|                  1.0|         8.3|                 0.0|        0.0|               0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 5 rows

In [0]:
feb_trips_path = "/Volumes/workspace/default/ram_dataset/yellow_tripdata_2025-02.parquet"

# Read the table
feb_trips_df = spark.read.parquet(feb_trips_path)

# Show the results
# display(feb_trips_df)
feb_trips_df.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       2| 2025-02-01 00:12:18|  2025-02-01 00:32:33|              3|         3.12|         1|                 N|         246|          79|           1|       19.8|  1.0|    0.5|      5.11|         0.0|                  1.0|       30.66|                 2.5|        0.0|              0.75|
|       2| 2025-02-01 00:40:04|  2025-02-01 00:49:15|              1|          1.4|         1|                 N|         114|          79|           1|       10.0|  1.0|    0.5|      3.15|         0.0|                  1.0|        18.9|                 2.5|        0.0|              0.75|
|       1| 2025-02-01 00:06:09|  2025-02-01 00:11:51|              0|          0.4|         1|                 N|         211|         144|           1|        6.5| 4.25|    0.5|       1.0|         0.0|                  1.0|       13.25|                 2.5|        0.0|              0.75|
|       1| 2025-02-01 00:15:13|  2025-02-01 00:20:19|              0|          0.7|         1|                 N|         113|         249|           1|        7.2| 4.25|    0.5|       2.0|         0.0|                  1.0|       14.95|                 2.5|        0.0|              0.75|
|       2| 2025-02-01 00:02:52|  2025-02-01 00:20:25|              1|         4.19|         1|                 N|         113|         263|           1|       19.8|  1.0|    0.5|      5.11|         0.0|                  1.0|       30.66|                 2.5|        0.0|              0.75|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 5 rows

In [0]:
taxi_zone_lookup_df.count()

265

### Printing Schema

In [0]:
taxi_zone_lookup_df.schema.names

['LocationID', 'Borough', 'Zone', 'service_zone']

In [0]:
taxi_zone_lookup_df.printSchema()

root
 |-- LocationID: integer (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [0]:
taxi_zone_lookup_df.schema.fields

[StructField('LocationID', IntegerType(), True),
 StructField('Borough', StringType(), True),
 StructField('Zone', StringType(), True),
 StructField('service_zone', StringType(), True)]

In [0]:
jan_trips_df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)
 |-- cbd_congestion_fee: double (nullable = true)

In [0]:
jan_trips_df.describe(['passenger_count', 'total_amount']).show()

+-------+------------------+-----------------+
|summary|   passenger_count|     total_amount|
+-------+------------------+-----------------+
|  count|           2935077|          3475226|
|   mean|1.2978589658806226|25.61129169729507|
| stddev|0.7507502754804725|463.6584784502249|
|    min|                 0|           -901.0|
|    max|                 9|        863380.37|
+-------+------------------+-----------------+

### Accessing a column

In [0]:
jan_trips_df.passenger_count

Column<'passenger_count'>

In [0]:
jan_trips_df['passenger_count']

Column<'passenger_count'>

In [0]:
# Df are immutable -> returns a new df -> that's why need to use show 
jan_trips_df.select('passenger_count', 'total_amount').show(5)

+---------------+------------+
|passenger_count|total_amount|
+---------------+------------+
|              1|        18.0|
|              1|       12.12|
|              1|        12.1|
|              3|         9.7|
|              3|         8.3|
+---------------+------------+
only showing top 5 rows

In [0]:
#You cannot call methods like .alias(), .cast(), or .desc() on a string, but you can on a col() object.


from pyspark.sql.functions import col
jan_trips_df.select(col('passenger_count'), col('total_amount').cast('int')).show(5)

+---------------+------------+
|passenger_count|total_amount|
+---------------+------------+
|              1|          18|
|              1|          12|
|              1|          12|
|              3|           9|
|              3|           8|
+---------------+------------+
only showing top 5 rows

### Sorting a Dataframe

In [0]:
jan_trips_df.sort('total_amount', ascending=False).show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       1| 2025-01-20 12:07:18|  2025-01-20 12:12:42|              1|          1.6|         1|                 N|         138|           8|           4|  863372.12| 6.75|    0.5|       0.0|         0.0|                  1.0|   863380.37|                 0.0|       1.75|               0.0|
|       2| 2025-01-16 12:23:14|  2025-01-17 14:41:56|              1|       255.33|         4|                 N|         161|         265|           2|     2450.9|  0.0|    0.0|       0.0|       54.06|                  1.0|     2506.71|                 0.0|        0.0|              0.75|
|       2| 2025-01-21 05:17:57|  2025-01-21 08:19:45|              1|       188.88|         4|                 N|         247|         265|           2|     1309.2|  1.0|    0.5|       0.0|         0.0|                  1.0|      1311.7|                 0.0|        0.0|               0.0|
|       2| 2025-01-15 19:14:42|  2025-01-15 21:46:13|              1|       143.54|         4|                 N|         132|         265|           1|      936.8|  2.5|    0.0|       0.0|        27.0|                  1.0|      969.05|                 0.0|       1.75|               0.0|
|       2| 2025-01-26 00:04:04|  2025-01-26 00:04:42|              4|          0.0|         5|                 N|         142|         142|           2|      950.0|  0.0|    0.0|       0.0|         0.0|                  1.0|       953.5|                 2.5|        0.0|               0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 5 rows

In [0]:
jan_trips_df.sort(['total_amount', 'passenger_count'], ascending=[False, False]).select('VendorID', 'passenger_count', 'total_amount').show(5)

+--------+---------------+------------+
|VendorID|passenger_count|total_amount|
+--------+---------------+------------+
|       1|              1|   863380.37|
|       2|              1|     2506.71|
|       2|              1|      1311.7|
|       2|              1|      969.05|
|       2|              4|       953.5|
+--------+---------------+------------+
only showing top 5 rows

### Filtering Dataframe

In [0]:
jan_trips_df.filter('Airport_fee >0 and passenger_count>2').select('VendorID', 'passenger_count', 'total_amount').show(5)

+--------+---------------+------------+
|VendorID|passenger_count|total_amount|
+--------+---------------+------------+
|       2|              4|       91.19|
|       2|              3|       40.39|
|       2|              4|       61.27|
|       2|              3|      151.35|
|       2|              3|       29.35|
+--------+---------------+------------+
only showing top 5 rows

In [0]:
jan_trips_df.filter(col('Airport_fee') >0).select('VendorID', 'passenger_count', 'total_amount').show(5)

+--------+---------------+------------+
|VendorID|passenger_count|total_amount|
+--------+---------------+------------+
|       1|              1|        40.6|
|       2|              1|       75.55|
|       2|              1|       37.24|
|       2|              1|       18.55|
|       2|              2|       48.89|
+--------+---------------+------------+
only showing top 5 rows

In [0]:
jan_trips_df.filter(jan_trips_df.Airport_fee >0).select('VendorID', 'passenger_count', 'total_amount').show()

+--------+---------------+------------+
|VendorID|passenger_count|total_amount|
+--------+---------------+------------+
|       1|              1|        40.6|
|       2|              1|       75.55|
|       2|              1|       37.24|
|       2|              1|       18.55|
|       2|              2|       48.89|
|       2|              2|       80.28|
|       2|              1|       51.31|
|       2|              1|       43.65|
|       1|              2|       59.49|
|       2|              1|       33.95|
|       1|              1|       91.89|
|       2|              1|       44.35|
|       2|              1|       78.85|
|       2|              4|       91.19|
|       2|              3|       40.39|
|       2|              1|       52.99|
|       1|              1|       30.15|
|       1|              2|       58.51|
|       2|              1|       47.11|
|       2|              1|       45.65|
+--------+---------------+------------+
only showing top 20 rows

In [0]:
'''Write a query combining sort, select, and filter that shows all non-airport rides with exactly 1 passenger.

Select only the trip_distance and total_amount columns.

Sort the resulting dataframe by the trip distance in descending order.'''

jan_trips_df.filter('Airport_fee = 0 and passenger_count=1')\
.select('trip_distance', 'total_amount', 'Airport_fee', 'passenger_count')\
.sort('trip_distance', ascending=False).show(5)

+-------------+------------+-----------+---------------+
|trip_distance|total_amount|Airport_fee|passenger_count|
+-------------+------------+-----------+---------------+
|      44730.3|        45.0|        0.0|              1|
|      44684.1|       54.94|        0.0|              1|
|      33588.9|        30.0|        0.0|              1|
|      11187.2|       61.94|        0.0|              1|
|      2001.95|       19.35|        0.0|              1|
+-------------+------------+-----------+---------------+
only showing top 5 rows

### Handling Missing Data

In [0]:
from pyspark.sql.functions import isnull

In [0]:
jan_trips_df.filter(isnull('fare_amount')).count()

0

In [0]:
jan_trips_df.filter(isnull('passenger_count')).count()

540149

In [0]:
df = jan_trips_df.fillna({'passenger_count': 1})
df.filter(isnull('passenger_count')).count()

0

### Creating/Dropping/Renaming Columns

In [0]:
from pyspark.sql.functions import round, unix_timestamp

In [0]:
# New column: Trip durantion in minutes
df = jan_trips_df.withColumn(
    "trip_duration_minutes",
    round(
        (
            unix_timestamp("tpep_dropoff_datetime")
            - unix_timestamp("tpep_pickup_datetime")
        )
        / 60,
        1,
    ),
)

In [0]:
df.select('VendorID', 'passenger_count', 'total_amount', "trip_duration_minutes").show(5)

+--------+---------------+------------+---------------------+
|VendorID|passenger_count|total_amount|trip_duration_minutes|
+--------+---------------+------------+---------------------+
|       1|              1|        18.0|                  8.4|
|       1|              1|       12.12|                  2.6|
|       1|              1|        12.1|                  2.0|
|       2|              3|         9.7|                  5.6|
|       2|              3|         8.3|                  3.5|
+--------+---------------+------------+---------------------+
only showing top 5 rows

In [0]:
df1 = df.select('tpep_pickup_datetime', 'tpep_dropoff_datetime', \
                 'trip_duration_minutes', 'PULocationID', 'DOLocationID', \
                 'passenger_count', 'fare_amount', 'Airport_fee', 'total_amount',).\
withColumnsRenamed({'tpep_pickup_datetime': 'pu_datetime',
                    'tpep_dropoff_datetime': 'do_datetime', \
                    'PULocationID': 'pu_location_id', \
                    'DOLocationID': 'do_location_id', \
                    'Airport_fee' : 'airport_fee'}
                   )
df1.show(5)

+-------------------+-------------------+---------------------+--------------+--------------+---------------+-----------+-----------+------------+
|        pu_datetime|        do_datetime|trip_duration_minutes|pu_location_id|do_location_id|passenger_count|fare_amount|airport_fee|total_amount|
+-------------------+-------------------+---------------------+--------------+--------------+---------------+-----------+-----------+------------+
|2025-01-01 00:18:38|2025-01-01 00:26:59|                  8.4|           229|           237|              1|       10.0|        0.0|        18.0|
|2025-01-01 00:32:40|2025-01-01 00:35:13|                  2.6|           236|           237|              1|        5.1|        0.0|       12.12|
|2025-01-01 00:44:04|2025-01-01 00:46:01|                  2.0|           141|           141|              1|        5.1|        0.0|        12.1|
|2025-01-01 00:14:27|2025-01-01 00:20:01|                  5.6|           244|           244|              3|        7.2|        0.0|         9.7|
|2025-01-01 00:21:34|2025-01-01 00:25:06|                  3.5|           244|           116|              3|        5.8|        0.0|         8.3|
+-------------------+-------------------+---------------------+--------------+--------------+---------------+-----------+-----------+------------+
only showing top 5 rows

In [0]:
df1.drop('fare_amount', 'Airport_fee').show(5)

+-------------------+-------------------+---------------------+--------------+--------------+---------------+------------+
|        pu_datetime|        do_datetime|trip_duration_minutes|pu_location_id|do_location_id|passenger_count|total_amount|
+-------------------+-------------------+---------------------+--------------+--------------+---------------+------------+
|2025-01-01 00:18:38|2025-01-01 00:26:59|                  8.4|           229|           237|              1|        18.0|
|2025-01-01 00:32:40|2025-01-01 00:35:13|                  2.6|           236|           237|              1|       12.12|
|2025-01-01 00:44:04|2025-01-01 00:46:01|                  2.0|           141|           141|              1|        12.1|
|2025-01-01 00:14:27|2025-01-01 00:20:01|                  5.6|           244|           244|              3|         9.7|
|2025-01-01 00:21:34|2025-01-01 00:25:06|                  3.5|           244|           116|              3|         8.3|
+-------------------+-------------------+---------------------+--------------+--------------+---------------+------------+
only showing top 5 rows

# Union & Join

In [0]:
# union(), unionAll(), unionByName() -> All keep duplicates
# To remove duplicates -> distinct(), dropDuplicates()
 
trips_2025 = jan_trips_df.union(feb_trips_df)
trips_2025.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       1| 2025-01-01 00:18:38|  2025-01-01 00:26:59|              1|          1.6|         1|                 N|         229|         237|           1|       10.0|  3.5|    0.5|       3.0|         0.0|                  1.0|        18.0|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:32:40|  2025-01-01 00:35:13|              1|          0.5|         1|                 N|         236|         237|           1|        5.1|  3.5|    0.5|      2.02|         0.0|                  1.0|       12.12|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:44:04|  2025-01-01 00:46:01|              1|          0.6|         1|                 N|         141|         141|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:14:27|  2025-01-01 00:20:01|              3|         0.52|         1|                 N|         244|         244|           2|        7.2|  1.0|    0.5|       0.0|         0.0|                  1.0|         9.7|                 0.0|        0.0|               0.0|
|       2| 2025-01-01 00:21:34|  2025-01-01 00:25:06|              3|         0.66|         1|                 N|         244|         116|           2|        5.8|  1.0|    0.5|       0.0|         0.0|                  1.0|         8.3|                 0.0|        0.0|               0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 5 rows

In [0]:
trips_2025.count()

7052769

In [0]:
df_joined = trips_2025.join(taxi_zone_lookup_df, trips_2025.PULocationID == taxi_zone_lookup_df.LocationID, 'left')
df_joined.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+----------+---------+--------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|LocationID|  Borough|                Zone|service_zone|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+----------+---------+--------------------+------------+
|       1| 2025-01-01 00:18:38|  2025-01-01 00:26:59|              1|          1.6|         1|                 N|         229|         237|           1|       10.0|  3.5|    0.5|       3.0|         0.0|                  1.0|        18.0|                 2.5|        0.0|               0.0|       229|Manhattan|Sutton Place/Turt...| Yellow Zone|
|       1| 2025-01-01 00:32:40|  2025-01-01 00:35:13|              1|          0.5|         1|                 N|         236|         237|           1|        5.1|  3.5|    0.5|      2.02|         0.0|                  1.0|       12.12|                 2.5|        0.0|               0.0|       236|Manhattan|Upper East Side N...| Yellow Zone|
|       1| 2025-01-01 00:44:04|  2025-01-01 00:46:01|              1|          0.6|         1|                 N|         141|         141|           1|        5.1|  3.5|    0.5|       2.0|         0.0|                  1.0|        12.1|                 2.5|        0.0|               0.0|       141|Manhattan|     Lenox Hill West| Yellow Zone|
|       2| 2025-01-01 00:14:27|  2025-01-01 00:20:01|              3|         0.52|         1|                 N|         244|         244|           2|        7.2|  1.0|    0.5|       0.0|         0.0|                  1.0|         9.7|                 0.0|        0.0|               0.0|       244|Manhattan|Washington Height...|   Boro Zone|
|       2| 2025-01-01 00:21:34|  2025-01-01 00:25:06|              3|         0.66|         1|                 N|         244|         116|           2|        5.8|  1.0|    0.5|       0.0|         0.0|                  1.0|         8.3|                 0.0|        0.0|               0.0|       244|Manhattan|Washington Height...|   Boro Zone|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+----------+---------+--------------------+------------+
only showing top 5 rows

### Group By

In [0]:
trips_2025.groupBy('payment_type').count().sort('payment_type').show()

+------------+-------+
|payment_type|  count|
+------------+-------+
|           0|1347086|
|           1|4780568|
|           2| 729910|
|           3|  45622|
|           4| 149582|
|           5|      1|
+------------+-------+

In [0]:
trips_2025.groupBy('payment_type').avg('total_amount').sort('payment_type').show()

+------------+------------------+
|payment_type| avg(total_amount)|
+------------+------------------+
|           0|20.401269013263903|
|           1|28.015701293259074|
|           2|21.592027934953958|
|           3| 9.396843628074182|
|           4| 6.355892152799144|
|           5|               0.0|
+------------+------------------+

In [0]:
from pyspark.sql.functions import avg, sum
df = trips_2025.groupBy('payment_type')\
.agg( \
    avg('total_amount').alias('avg_total_amount'), \
    sum(col('passenger_count').cast('int')).alias('total_passengers')\
    )\
.sort('payment_type')
df.show()

+------------+------------------+----------------+
|payment_type|  avg_total_amount|total_passengers|
+------------+------------------+----------------+
|           0|20.401269013263903|            NULL|
|           1|28.015701293259074|         6102941|
|           2|21.592027934953958|          984886|
|           3| 9.396843628074182|           57466|
|           4| 6.355892152799144|          199392|
|           5|               0.0|               1|
+------------+------------------+----------------+

### Writing Dataframes to file

In [0]:
write_path = '/Volumes/workspace/default/ram_dataset/avg_fare'
df.write.csv(write_path, header=True, mode='overwrite')

In [0]:
os.path.isfile(write_path)

False

In [0]:
df1 = spark.read.csv(write_path, header=True)
df1.show()

+------------+------------------+----------------+
|payment_type|  avg_total_amount|total_passengers|
+------------+------------------+----------------+
|           0|20.401269013263903|            NULL|
|           1|28.015701293259074|         6102941|
|           2|21.592027934953958|          984886|
|           3| 9.396843628074182|           57466|
|           4| 6.355892152799144|          199392|
|           5|               0.0|               1|
+------------+------------------+----------------+

### Pyspark SQL

In [0]:
trips_2025.createOrReplaceTempView('trips_view')

In [0]:
spark.sql('select * from trips_view where total_amount>50').show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       2| 2025-01-01 00:15:41|  2025-01-01 01:03:03|              4|         3.05|         1|                 N|         114|         161|           1|       37.3|  1.0|    0.5|      8.46|         0.0|                  1.0|       50.76|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:34:23|  2025-01-01 01:20:57|              1|        10.42|         1|                 N|          90|         243|           1|       56.9|  1.0|    0.5|     12.38|         0.0|                  1.0|       74.28|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:55:44|  2025-01-01 01:27:41|              1|        14.84|         1|                 N|         132|          89|           1|       59.0|  1.0|    0.5|      12.3|         0.0|                  1.0|       75.55|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:04:29|  2025-01-01 00:55:58|              9|        31.97|         5|                 N|         132|         265|           2|       90.0|  0.0|    0.0|       0.0|       20.32|                  1.0|      111.32|                 0.0|        0.0|               0.0|
|       1| 2025-01-01 00:44:59|  2025-01-01 01:23:14|              1|         10.9|         1|                 N|         261|          42|           1|       47.1|  3.5|    0.5|       5.0|         0.0|                  1.0|        57.1|                 2.5|        0.0|               0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 5 rows

In [0]:
spark.sql('select * from trips_view where total_amount>50')\
.filter('passenger_count > 2')\
.select('payment_type', 'total_amount', 'passenger_count')\
.show(5)

+------------+------------+---------------+
|payment_type|total_amount|passenger_count|
+------------+------------+---------------+
|           1|       50.76|              4|
|           2|      111.32|              9|
|           1|       56.38|              3|
|           1|        58.3|              4|
|           1|       51.55|              3|
+------------+------------+---------------+
only showing top 5 rows

In [0]:
query = '''
select 
    payment_type, total_amount, passenger_count 
from trips_view 
where 
    total_amount>50 
    and 
    passenger_count > 2
'''

In [0]:
spark.sql(query).show(5)

+------------+------------+---------------+
|payment_type|total_amount|passenger_count|
+------------+------------+---------------+
|           1|       50.76|              4|
|           2|      111.32|              9|
|           1|       56.38|              3|
|           1|        58.3|              4|
|           1|       51.55|              3|
+------------+------------+---------------+
only showing top 5 rows